<?xml version="1.0"?>
<robot name="dhuro_omnibot" xmlns:xacro="http://www.ros.org/wiki/xacro">

<link name="base_footprint"/>

<link name="laser">
    <visual>
        <geometry>
            <cylinder radius="0.05" length="0.02"/>
        </geometry>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </visual>

    <collision>
        <geometry>
            <cylinder radius="0.05" length="0.02"/>
        </geometry>
        <origin xyz="0 0 0.23" rpy="0 0 0"/>
    </collision>

    <inertial>
        <mass value="0.1"/>
        <origin xyz="0 0 0.23" rpy="0 0 0"/>
        <inertia
        ixx="0.001" ixy="0.0" ixz="0.0"
        iyy="0.001" iyz="0.0"
        izz="0.001"/>
    </inertial>
</link>

<joint name="base_laser_joint" type="fixed">
    <parent link="base_footprint"/>
    <child link="laser"/>
    <origin xyz="0 0 0.23" rpy="0 0 0"/> 
</joint>

</robot>